.kirin-pagination {
	display: flex;
	flex-direction: row;
}
.kirin-pagination .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	cursor: pointer;
}

.kirin-pagination .btn:hover {
	font-weight: bold;
}

.kirin-pagination .btn.hidden {
	visibility: hidden;
}

.kirin-pagination .btn.cur-page {
	text-decoration: underline;
}
